.weatherCard {
  color: rgba(5, 5, 8, 0.678);
  background-color: rgba(27, 87, 105, 0.657);
  box-shadow: 0 10px 10px -8px #464646;

  justify-content: center;
  margin-top: 15px;
  border: none;
}

.weekday {
  font-size: 18px;
  text-align: center;
  margin-top: 4px;
  color: rgba(5, 5, 8, 0.678);

  font-family: "Poppins", sans-serif;
}

.date {
  font-size: 12px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: bolder;

  color: rgba(5, 5, 8, 0.678);
}

.temperatureCard {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: rgba(5, 5, 8, 0.678);
}

.minTemp,
.maxTemp {
  font-family: "Poppins", sans-serif;

  font-size: 13px;
  color: rgba(5, 5, 8, 0.678);
}

.forecastTitle {
  font-family: "Montserrat", sans-serif;
  color: wheat;
  margin-top: 15px;
}
